:root {
    
    /* colors */
    --doxy-colors-pink: #BB68A7;
    --doxy-colors-green: #39AC4D;
    --doxy-colors-white: #FFFFFF;
    --doxy-colors-darkgrey: #2C2926;
    --doxy-colors-background: #DEDCCA;

    /* fonts */
    --doxy-font: 'Degular Display', sans-serif;

    /* padding */
    --doxy-padding-none: 0px;
    --doxy-padding-sm: 4px;
    --doxy-padding-md: 8px;
    --doxy-padding-lg: 16px;
    --doxy-padding-xl: 24px;
    --doxy-padding-xxl: 32px;
    --doxy-padding-xxxl: 48px;
    --doxy-padding-section: 96px;
    --doxy-padding-outer: 72px;

    /* padding */
    --doxy-radius-xs: 4px;
    --doxy-radius-sm: 8px;
    --doxy-radius-md: 16px;
    --doxy-radius-lg: 24px;
    --doxy-radius-round: 999px;
    
    /* theme */
    background: var(--doxy-colors-background);
}