:root {
    
    /* colors */
    --doxy-colors-pink: #BB68A7;
    --doxy-colors-green: #39AC4D;
    --doxy-colors-white: #FFFFFF;
    --doxy-colors-darkgrey: #2C2926;
    --doxy-colors-background: #DEDCCA;

    /* fonts */
    --doxy-font: 'degular', sans-serif;
    --doxy-font-alt: 'degular-display', sans-serif;
    --doxy-font-serif: 'American Typewriter', courier;

    /* text-styles */
    --doxy-text-footer-heading: 100 calc( max(5vmax, 28px) )/86% var(--doxy-font-alt);
    --doxy-text-quote: 700 calc( max(6vmax, 32px) )/88% var(--doxy-font);
    --doxy-text-h1: 500 calc( max(10vmax, 32px) )/78% var(--doxy-font-alt);
    --doxy-text-serif-h3: 400 calc( max(2vmax, 24px) )/120% var(--doxy-font-serif);
    --doxy-text-body: 400 calc( max(2vmax, 28px) )/117% var(--doxy-font);
    
    /* padding */
    --doxy-padding-none: 0px;
    --doxy-padding-sm: 4px;
    --doxy-padding-md: 8px;
    --doxy-padding-lg: 16px;
    --doxy-padding-xl: 24px;
    --doxy-padding-xxl: 32px;
    --doxy-padding-xxxl: 48px;
    --doxy-padding-section: 96px;
    --doxy-padding-outer: 72px;

    /* padding */
    --doxy-radius-xs: 4px;
    --doxy-radius-sm: 8px;
    --doxy-radius-md: 16px;
    --doxy-radius-lg: 24px;
    --doxy-radius-round: 999px;
    
    /* theme */
    
}

* {
    box-sizing: border-box;
}

html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: var(--doxy-colors-background);
    margin: 0;
    color: var(--doxy-colors-darkgrey);
}

:focus-visible {
    position: relative;
}

:focus-visible:before {
    border: 3px solid var(--doxy-colors-pink);
    border-radius: inherit;
    position: absolute;
    inset: -6px;
    content: '';
    transition: inherit;
    transform-origin: center;

}

:focus, :focus-visible {
    outline: none;
}

a {
    color: inherit;
}