:root {
    
    /* colors */
    --doxy-colors-pink: #BB68A7;
    --doxy-colors-green: #39AC4D;
    --doxy-colors-white: #FFFFFF;
    --doxy-colors-lightgrey: #A6A8A3;
    --doxy-colors-darkgrey: #2C2926;
    --doxy-colors-background: #DEDCCA;

    /* gradients */
    --doxy-gradient: linear-gradient(269.94deg, #C392C2 23.23%, #67BA84 76.99%);

    /* fonts */
    --doxy-font: 'degular', sans-serif;
    --doxy-font-alt: 'degular-display', sans-serif;
    --doxy-font-serif: 'American Typewriter', courier;

    /* text-styles */
    --doxy-text-h1: 500 140px/100px var(--doxy-font-alt);
    --doxy-text-h2: 500 82px/60px var(--doxy-font-alt);
    --doxy-text-h3: 500 60px/52px var(--doxy-font-alt);
    --doxy-text-h4: 500 48px/38px var(--doxy-font-alt);

    --doxy-text-biobody: 400 30px/32px var(--doxy-font);
    --doxy-text-article: 400 24px/28px var(--doxy-font);
    --doxy-text-meta-large: 400 14px/1 var(--doxy-font);
    --doxy-text-meta-small: 400 12px/1 var(--doxy-font);
    --doxy-text-quote: 900 82px/72px var(--doxy-font);

    --doxy-text-h1-serif: 400 82px/72px var(--doxy-font-serif);
    --doxy-text-h2-serif: 400 48px/54px var(--doxy-font-serif);
    --doxy-text-h3-serif: 400 30px/34px var(--doxy-font-serif);
    --doxy-text-h4-serif: 400 22px/26px var(--doxy-font-serif);

    --doxy-text-body-serif: 400 18px/20px var(--doxy-font-serif);

    /* padding */
    --doxy-padding-none: 0px;
    --doxy-padding-sm: 4px;
    --doxy-padding-md: 8px;
    --doxy-padding-lg: 16px;
    --doxy-padding-xl: 24px;
    --doxy-padding-xxl: 32px;
    --doxy-padding-xxxl: 48px;
    --doxy-padding-outer: 72px;
    --doxy-padding-section: 96px;

    /* padding */
    --doxy-radius-xs: 4px;
    --doxy-radius-sm: 8px;
    --doxy-radius-md: 16px;
    --doxy-radius-lg: 24px;
    --doxy-radius-round: 999px;
    
    /* theme */
    
}

* {
    box-sizing: border-box;
}

html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: var(--doxy-colors-background);
    margin: 0;
    color: var(--doxy-colors-darkgrey);
}

:focus-visible {
    position: relative;
}

:focus-visible:before {
    border: 3px solid var(--doxy-colors-pink);
    border-radius: inherit;
    position: absolute;
    inset: -6px;
    content: '';
    transition: inherit;
    transform-origin: center;

}

:focus, :focus-visible {
    outline: none;
}

a {
    color: inherit;
}