---
import Layout from '../components/Layout.astro';
import Page from '@doxyfixy/components/src/page/Page.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

---

<Layout>

	<Page
		title="Over Ons"
		intro="Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen."
		tags={['Apples', 'Pears', 'Bananas', 'Oranges', 'Grapes']}
		client:visible
	>

        <article>

            <img
                src="https://static01.nyt.com/images/2018/09/26/lens/26jazz1/25jazz1-superJumbo.jpg?quality=75&auto=webp"
                alt="A Great Day in Harlem"
                decoding="async"
                loading="lazy"
            >
        
            <blockquote>My mama always said life was like a box of chocolates.</blockquote>

            <p>
                Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>

            <p>
                <strong>Aenean lacinia bibendum nulla sed consectetur.</strong>
                Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            </p>

            <p>
                <strong>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</strong>
                Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </p>

            <p>
                <strong>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</strong>
                Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>

        </article>

	</Page>

</Layout>