---
import Layout from '../components/Layout.astro';
import Page from '@doxyfixy/components/src/page/Page.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

---

<Layout title="Forrest Gump">

    <Card
        slot="header"
        title="Forrest Gump"
        subtitle="Bubba was my best good friend. And even I know that ain't something you can find just around the corner. Bubba was going to be a shrimping boat captain, but instead, he died right there by that river in Vietnam."
        tags={['fixy', 'drama']}
        size="hero"
    >
    <img
        src="https://m.media-amazon.com/images/M/MV5BODkzODhjMDAtNmZlNC00YWJiLThlOTItY2UyMDZiOTMyYTk3XkEyXkFqcGdeQXVyMTE0MzQwMjgz._V1_.jpg"
        decoding="async"
        loading="lazy"
    >
    </Card>

	<Page>

        <article>

            <p>
                Slow-witted Forrest Gump (Tom Hanks) has never thought of himself as disadvantaged, and thanks to his supportive mother (Sally Field), he leads anything but a restricted life. Whether dominating on the gridiron as a college football star, fighting in Vietnam or captaining a shrimp boat, Forrest inspires people with his childlike optimism. But one person Forrest cares about most may be the most difficult to save -- his childhood love, the sweet but troubled Jenny (Robin Wright).
            </p>

            <p class="video-container"><iframe src="https://player.vimeo.com/video/768552372?h=a7ad9099dc&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></p>

            <h4>Cast</h4>
            <ul>
                <li>Bassie <em>Bas van Toor</em></li>
                <li>Adriaan <em>Aad van Toor</em></li>
            </ul>

            <h4>Credits</h4>
            <ul>
                <li>scenario <em>Bobbie Koek</em></li>
                <li>met bijdragen van <em>Ashgan-el-Hamu</em></li>
                <li>regie <em>Bobbie Koe</em></li>
                <li>regie ass <em>Engel Sta</em></li>
                <li>1st AD <em>Anna van Schijnde</em></li>
                <li>DOP <em>Jeroen Kier</em></li>
                <li>Production design <em>Tim Bal</em></li>
                <li>Art director <em>Cecile Hanrat</em></li>
                <li>Make up <em>Lindelotte van der Mee</em></li>
                <li>Kostuumontwerp <em>Minke Lunte</em></li>
                <li>Componist <em>Bo Koe</em></li>
                <li>Montage <em>Mieneke Krame</em></li>
                <li>Sounddesign <em>Gijs den Hartog</em></li>
                <li>Uitvoerend prod <em>Chris Jorn</em></li>
                <li>Productieleider <em>Olya van Poppe</em></li>
            </ul>

            <p>
                <img src="/poster.png" loading="lazy" decoding="async" style="max-height: 80vh">
            </p>

            <h4>Laureaten</h4>
            <ul>
                <li>scenario <em>Bobbie Koek</em></li>
                <li>met bijdragen van <em>Ashgan-el-Hamu</em></li>
            </ul>
            <p>
                <img src="/laureates.png" loading="lazy" decoding="async">
                <br><br>
            </p>

            <h4>Festivals</h4>
            <ul>
                <li>Berlijn 2022</li>
                <li>Venetië 2023</li>
                <li>Cannes 2023</li>
            </ul>

            <p>
                <img src="/laureates.png" loading="lazy" decoding="async">
                <br><br>
            </p>

            <h4>Recensies</h4>
            <q>
               “En hoewel zijn moeder en de instanties hun beste beentje voor zetten, geven ze hem niet de hulp die hij nodig heeft”
                <small>★★★★ NRC Handelsblad</small>
            </q>

            <q>
               “En hoewel zijn moeder en de instanties hun beste beentje voor zetten, geven ze hem niet de hulp die hij nodig heeft”
                <small>★★★★ NRC Handelsblad</small>
            </q>

            <q>
               “En hoewel zijn moeder en de instanties hun beste beentje voor zetten, geven ze hem niet de hulp die hij nodig heeft”
                <small>★★★★ NRC Handelsblad</small>
            </q>

    </article>

	</Page>

</Layout>