---
import Layout from '../components/Layout.astro';
import GridPage from '@doxyfixy/components/src/grid-page/GridPage.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';
import Film from './film.astro';

const filmsRes = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/film');
const films = await filmsRes.json();

const images = Object.fromEntries(await Promise.all(films.map(film => fetch(`https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/media/${film.featured_image.ID}`))).then(responses =>
    Promise.all(responses.map(async res => {
		const json = await res.json();
		return [json.id, json.media_details.sizes.medium_large || {}];
	})))
);

const genresRes = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/genre');
const genres = await genresRes.json();
const genreNames = Object.fromEntries(genres.map(genre => ([genre.id, genre.name])));

---

<Layout title="Films">

	<GridPage
		title="Onze films"
		intro="Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen."
		tags={Object.values(genreNames)}
		funky
		client:visible
	>

	{films.map((film, i) =>
		<a href={`/films/${film.slug}`}>

		<Card
			title={film.title.rendered}
			subtitle={film.synopsis.split(/\./g)[0]}
			tags={(film.genre || []).map(id => genreNames[id])}
		>
			<img
				loading="lazy"
				decoding="async"
				src={(images[film.featured_image.ID] || {}).source_url}
			>
		</Card>
		</a>

	)}

	</GridPage>

</Layout>