---
import Layout from '../components/Layout.astro';
import Page from '@doxyfixy/components/src/page/Page.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

---

<Layout title="Forrest Gump">

    <Card
        slot="header"
        title="Forrest Gump"
        subtitle="Bubba was my best good friend. And even I know that ain't something you can find just around the corner. Bubba was going to be a shrimping boat captain, but instead, he died right there by that river in Vietnam."
        tags={['fixy', 'drama']}
        size="hero"
    >
    <img
        src="https://m.media-amazon.com/images/M/MV5BODkzODhjMDAtNmZlNC00YWJiLThlOTItY2UyMDZiOTMyYTk3XkEyXkFqcGdeQXVyMTE0MzQwMjgz._V1_.jpg"
        decoding="async"
        loading="lazy"
    >
    </Card>

	<Page>

        <article>

            <p>
                Slow-witted Forrest Gump (Tom Hanks) has never thought of himself as disadvantaged, and thanks to his supportive mother (Sally Field), he leads anything but a restricted life. Whether dominating on the gridiron as a college football star, fighting in Vietnam or captaining a shrimp boat, Forrest inspires people with his childlike optimism. But one person Forrest cares about most may be the most difficult to save -- his childhood love, the sweet but troubled Jenny (Robin Wright).
            </p>

            <p class="video-container"><iframe src="https://player.vimeo.com/video/768552372?h=a7ad9099dc&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></p>

            <h4>Cast</h4>
            <ul>
                <li>Bassie <em>Bas van Toor</em></li>
                <li>Adriaan <em>Aad van Toor</em></li>
            </ul>

            <h4>Credits</h4>
            <ul>
                <li>scenario <em>Bobbie Koek</em></li>
                <li>met bijdragen van <em>Ashgan-el-Hamu</em></li>
                <li>regie <em>Bobbie Koe</em></li>
                <li>regie ass <em>Engel Sta</em></li>
                <li>1st AD <em>Anna van Schijnde</em></li>
                <li>DOP <em>Jeroen Kier</em></li>
                <li>Production design <em>Tim Bal</em></li>
                <li>Art director <em>Cecile Hanrat</em></li>
                <li>Make up <em>Lindelotte van der Mee</em></li>
                <li>Kostuumontwerp <em>Minke Lunte</em></li>
                <li>Componist <em>Bo Koe</em></li>
                <li>Montage <em>Mieneke Krame</em></li>
                <li>Sounddesign <em>Gijs den Hartog</em></li>
                <li>Uitvoerend prod <em>Chris Jorn</em></li>
                <li>Productieleider <em>Olya van Poppe</em></li>
            </ul>

            <h4>Laureaten</h4>
            <ul>
                <li>scenario <em>Bobbie Koek</em></li>
                <li>met bijdragen van <em>Ashgan-el-Hamu</em></li>
            </ul>

            <h4>Festivals</h4>
            <ul>
                <li>Berlijn 2022</li>
                <li>Venetië 2023</li>
                <li>Cannes 2023</li>
            </ul>

            <div class="grid">
                
                <Card
                    size="portrait"
                    title="Tom Hanks"
                    subtitle="actor"
                    tags={['fixy']}
                    summary="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
                    href="/person"
                >
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://cdn.theatlantic.com/thumbor/aqI1zxgF581jigsBMbcQQNvlg-A=/0x0:4000x2250/1600x900/media/img/2023/05/TomHanks_Atlantic_horizontal/original.jpg"
                    >
                </Card>

                <Card
                    size="portrait"
                    title="Tom Hanks"
                    subtitle="actor"
                    tags={['fixy']}
                    summary="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
                    href="/person"
                >
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://cdn.theatlantic.com/thumbor/aqI1zxgF581jigsBMbcQQNvlg-A=/0x0:4000x2250/1600x900/media/img/2023/05/TomHanks_Atlantic_horizontal/original.jpg"
                    >
                </Card>

                    
            </div>

    </article>

	</Page>

</Layout>