---
import Layout from '../components/Layout.astro';
import GridPage from '@doxyfixy/components/src/grid-page/GridPage.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';
---

<Layout logoColor="white">
	<Card
		slot="header"
		title="Oppenheimer"
		subtitle="Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
		size="hero"
		tags={['Apples', 'Pears']}
	>
	<img
		src="/images/L-amour_La-Mort_st_1_jpg_sd-low-2-1680x704.jpg"
		decoding="async"
		loading="lazy"
	>
	</Card>

	<GridPage intro="Always at the crossroads,">

		<a href="/film">
		<Card title="Fool’s Last Dance" tags={['apples', 'pears']}>
			<img
				loading="lazy"
				decoding="async"
				src="/images/Here-We-Move-Here-We-Groove.jpg"
			>
		</Card>
		</a>
		<a href="/film">
			<Card title="Rijtjesguy" tags={['apples', 'pears']}>
			<img
				loading="lazy"
				decoding="async"
				src="/images/BEELD_2.jpg"
			>
		</Card>
		</a>
	</a>

	</GridPage>

	<GridPage intro="the fringes, the rough edges,">

		<a href="/film">
		<Card title="My Maysoon" tags={['apples', 'pears']} subtitle="Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.">
			<img
				loading="lazy"
				decoding="async"
				src="https://filmformatie.imgix.net/filmstills/still-posterbeeld-1024x576-76a0.jpeg?w=600"
			>
		</Card>
		</a>

	</GridPage>

	<GridPage intro="in the space between,">

		<a href="/film">
		<Card title="Fool’s Last Dance" tags={['apples', 'pears']}>
			<img
				loading="lazy"
				decoding="async"
				src="/images/Here-We-Move-Here-We-Groove.jpg"
			>
		</Card>
		</a>

		<a href="/film">
		<Card title="Rijtjesguy" tags={['apples', 'pears']}>
			<img
				loading="lazy"
				decoding="async"
				src="/images/BEELD_2.jpg"
			>
		</Card>
		</a>

	</GridPage>

	<GridPage intro="where stories are born...">

		<a href="/film">
		<Card title="My Maysoon" tags={['apples', 'pears']} subtitle="Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.">
			<img
				loading="lazy"
				decoding="async"
				src="https://filmformatie.imgix.net/filmstills/still-posterbeeld-1024x576-76a0.jpeg?w=600"
			>
		</Card>
		</a>

	</GridPage>


</Layout>