.doxy-menu {
    display: flex;
    justify-content: flex-end;
    gap: var(--doxy-padding-xxl);
}

.doxy-menu.open {
    --__doxy-menubutton-pointerevents: all;
    --__doxy-menubutton-opacity: 1;
    --__doxy-menubutton-translate: 0;
}

.doxy-menu > div {
    display: flex;
    gap: var(--doxy-padding-lg);
}

.doxy-menu > div a {
    pointer-events: var(--__doxy-menubutton-pointerevents, none);
    opacity: var(--__doxy-menubutton-opacity, 0);
    translate: calc( var(--__doxy-menubutton-translate, 100px) * var(--__doxy-menubutton-index) );
    transition: 200ms ease-in-out all;
    --doxy-button-fill: transparent;
    --doxy-button-accent: var(--doxy-colors-white);
}

.doxy-menu > div a:nth-child(1) {
    --__doxy-menubutton-index: 1;
}

.doxy-menu > div a:nth-child(2) {
    --__doxy-menubutton-index: 2;
}

.doxy-menu > div a:nth-child(3) {
    --__doxy-menubutton-index: 3;
}

.doxy-menu > div a:nth-child(4) {
    --__doxy-menubutton-index: 4;
}