.doxy-menu {
    display: flex;
    justify-content: flex-end;
    gap: var(--doxy-padding-xxl);
}

.doxy-menu.open {
    --__doxy-menubutton-pointerevents: all;
    --__doxy-menubutton-opacity: 1;
    --__doxy-menubutton-translate: 0;
}

.doxy-menu .menuitems {
    display: flex;
    gap: var(--doxy-padding-lg);
}

.doxy-menu .menuitems > * {
    pointer-events: var(--__doxy-menubutton-pointerevents, none);
    opacity: var(--__doxy-menubutton-opacity, 0);
    translate: calc( var(--__doxy-menubutton-translate, 20px) * var(--__doxy-menubutton-index) );
    transition: 200ms ease-in-out all;
}

.doxy-menu .menuitems > a {
    --doxy-button-fill: unset;
    --doxy-button-accent: unset;
}

.doxy-menu .menuitems > a:hover {
    --doxy-button-fill: unset;
}

.doxy-menu .menuitems > *:nth-child(1) {
    --__doxy-menubutton-index: 1;
}

.doxy-menu .menuitems > *:nth-child(2) {
    --__doxy-menubutton-index: 2;
}

.doxy-menu .menuitems > *:nth-child(3) {
    --__doxy-menubutton-index: 3;
}

.doxy-menu .menuitems > *:nth-child(4) {
    --__doxy-menubutton-index: 4;
}

.doxy-menu .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

@media screen and (max-width: 960px) {
    .doxy-menu {
        position: fixed;
        bottom: 32px;
        left: 50%;
        translate: -50%;
        align-items: center;
        flex-direction: column;
    }

    .doxy-menu .menuitems {
        flex-direction: column;
    }
    
    .doxy-menu .menuitems > * {
        translate: 0 calc( var(--__doxy-menubutton-translate, 20px) );
        transition-delay: calc(40ms  * var(--__doxy-menubutton-index));
    }

}