@keyframes reveal {
    from {
        translate: 0px 50vmin;
    }
    to {
        translate: 0px 0px;
    }
}

.doxy-footer {
    width: 100%;
    background: var(--doxy-colors-darkgrey);
    padding: var(--doxy-padding-section);
    color: var(--doxy-colors-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10vmin;
}

@supports (animation-timeline: scroll(block root)) {
    .doxy-footer {
        view-timeline: --subjectReveal block;
        animation-timeline: --subjectReveal;
        animation-name: reveal;
    }
}

@supports not (animation-timeline: scroll(block root)) {
    .doxy-footer {
        transition: 500ms transform ease;
    } 
}

.doxy-footer .head {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
}


@media screen and (max-width: 1280px) {

    .doxy-footer {
        padding: var(--doxy-padding-xxl);
        padding-bottom: 35vmin;
    }

    .doxy-footer .head {
        flex-direction: column;
        gap: var(--doxy-padding-xxxl);
    }
}

.doxy-footer .head svg {
    height: 40vmin;
    margin: 0 var(--doxy-padding-xxl);
    flex: 1;
    max-width: 40vw;
}

.doxy-footer .head h5 {
    font: var(--doxy-text-sans-headline-m);
    text-wrap: balance;
    text-align: center;
    margin: 0;
    width: 320px;
    max-width: 100%;
    text-align: center;
    flex: 1;
}

@media screen and (max-width: 1023px) {
    .doxy-footer .head h5 {
        font: var(--doxy-text-sans-headline-s);
    }
}

@media screen and (max-width: 767px) {
    .doxy-footer .head h5 {
        font: var(--doxy-text-sans-headline-xs);
    }
}

.doxy-footer .contents {
    display: flex;
    gap: var(--doxy-padding-xxl);
    justify-content: space-around;
    min-width: 100%;
    --doxy-button-fill: #DEDCCA;
}

@media screen and (max-width: 1023px) {
    .doxy-footer .contents {
        flex-direction: column;
    }
}

.doxy-footer .contents > * {
    flex: 1;
}


.doxy-footer .follow,
.doxy-footer .mail-us {
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-xxl);
}

.doxy-footer .mail-us {
    /* flex: none; */
    align-items: center;
}

.doxy-footer .mail-us a {
    text-decoration: none;
}

@media screen and (max-width: 1023px) {
    .doxy-footer .mail-us {
        display: none;
    }
}


.doxy-footer h6, .doxy-footer address {
    font: var(--doxy-text-serif-headline-m);
    letter-spacing: 0.3px;
    margin: 0;
    text-wrap: balance;
    line-height: 2;
}

@media screen and (max-width: 767px) {
    .doxy-footer h6, .doxy-footer address {
        font: var(--doxy-text-serif-headline-s);
    }
}

.doxy-footer address span:not(:last-of-type):after {
    content: ' • ';
}

.doxy-footer address span a {
    color: inherit;
}

@media screen and (max-width: 1023px) {
    .doxy-footer address span {
        display: block;
    }
    
    .doxy-footer address span:not(:last-of-type):after {
        content: '';
    }
}