.doxy-footer {
    width: 100%;
    background: var(--doxy-colors-darkgrey);
    padding: var(--doxy-padding-xxl);
    color: var(--doxy-colors-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10vmin;
    padding: 10vmin;
}

.doxy-footer .head {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px) {

    .doxy-footer {
        padding-bottom: 15vmin;
    }

    .doxy-footer .head {
        flex-direction: column;
        gap: var(--doxy-padding-xxxl);
    }
}

.doxy-footer .head svg {
    width: 40vmin;
}

.doxy-footer .head h5 {
    font: var(--doxy-text-footer-heading);
    text-align: center;
    margin: 0;
}

.doxy-footer .head h5 span {
    font-weight: 100;
    display: block;
}

.doxy-footer .contents {
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-xxl);
}


.doxy-footer h6, .doxy-footer address {
    font: var(--doxy-text-serif-h3);
    letter-spacing: 0.3px;
    margin: 0;
    text-wrap: balance;
}

.doxy-footer address span:not(:last-of-type):after {
    content: ' • ';
}

.doxy-footer address span a {
    color: inherit;
}

@media screen and (max-width: 720px) {
    .doxy-footer address span {
        display: block;
    }
    
    .doxy-footer address span:not(:last-of-type):after {
        content: '';
    }
}