@keyframes unblur {
    0% {
        filter: blur(10px);
        scale: 1.1;
    }
    50% {
        filter: blur(0);
        scale: 1;
    }
}

.doxy-page-header {
    width: 100%;
}

.doxy-page-header div {
    width: 944px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-xxxl);
    text-wrap: balance;
}

.doxy-page-header h1 {
    font: var(--doxy-text-h2);
    margin: 0 auto;
    max-width: 600px;
}

@media screen and (min-width: 960px) {
    .doxy-page-header h1 {
        font: var(--doxy-text-h1);
    }
}

.doxy-page-header p {
    font: var(--doxy-text-h2-serif);
    margin: 0;
    view-timeline: --page-header-p-unblur block;
    animation-timeline: --page-header-p-unblur;
    animation-name: unblur;
}