.doxy-page-header {
    width: 100%;
}

.doxy-page-header div {
    width: 944px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-xxxl);
    text-wrap: balance;
}

.doxy-page-header h1 {
    font: var(--doxy-text-h2);
    margin: 0 auto;
    max-width: 600px;
}

@media screen and (min-width: 960px) {
    .doxy-page-header h1 {
        font: var(--doxy-text-h1);
    }
}

.doxy-page-header p {
    font: var(--doxy-text-h2-serif);
    margin: 0;
}

.doxy-page-header .nav-container {
    /* border: 1px solid red; */
    overflow: auto;
    justify-items: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 12px 24px;
    margin: 0 -24px;
    min-width: calc(100% + 48px);
}

.doxy-page-header .nav-container::-webkit-scrollbar{
display: none;
}

.doxy-page-header nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--doxy-padding-lg);
    width: auto;
    margin: auto;
    z-index: 1;
}