.doxy-newsletter-subscription-form {
    display: flex;
    width: 710px;
    max-width: 100%;
}

.doxy-newsletter-subscription-form input {
    flex: 1;
}

.doxy-newsletter-subscription-form input:first-of-type {
    --doxy-input-radius: var(--doxy-radius-round) 0 0 var(--doxy-radius-round);
}

.doxy-newsletter-subscription-form input:last-of-type {
    --doxy-input-radius: 0 var(--doxy-radius-round) var(--doxy-radius-round) 0;
    margin: 0 var(--doxy-padding-md) 0 -1px;
}

.doxy-newsletter-subscription-form button {
    flex: none;
}