.doxy-card {
    /* height: 310px; */
    width: 100%;
    max-height: 90vh;
    /* min-height: 40vmin; */
    aspect-ratio: 16/9;
    position: relative;
    color: var(--doxy-colors-white);
    font-family: var(--doxy-font);
    container-type: inline-size;
    transition: 100ms scale ease-in-out;
}

.doxy-card:not(.hero),
.doxy-card:not(.portrait-hero) {
    view-timeline: --fade-fadein block;
    animation-timeline: --fade-fadein;
    animation-name: cardFadeIn;
}


@keyframes cardFadeIn {
    0% {
        /* scale: 0.95; */
        filter: blur(10px);
        translate: 0 100px;
    }
    40% {
        /* opacity: 1; */
        scale: 1;
        filter: blur(0);
        translate: 0 0;
    }
    100% {
        /* opacity: 1; */
        scale: 1;
        filter: blur(0);
    }
}

.doxy-card.portrait {
    aspect-ratio: 4/5;
}

.doxy-card:hover {
    scale: 1.005;
}

.doxy-card:active {
    scale: 1.01;
}

.doxy-card .container {
    position: absolute;
    inset: 0;
    background-color: var(--doxy-colors-darkgrey);
    border-radius: var(--doxy-radius-md);
    overflow: hidden;
    box-shadow: var(--doxy-image-shadow);
    --__card-content-maxwidth: 50%;
}

.doxy-card .container:after {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(44, 41, 38, 0.00) 0%, rgba(44, 41, 38, 0.50) 100%);
    content: '';
    z-index: 1;
}

.doxy-card .container .text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    justify-content: flex-end;
    gap: var(--doxy-padding-lg);
    padding: var(--__card-padding, var(--doxy-padding-xxl));
    width: 100%;
    margin: auto;
    max-width: 1280px;
}

@container (max-width: 1024px) {
    .doxy-card .container {
        --__card-title-font: var(--doxy-text-sans-headline-xl);
        --__card-padding: var(--doxy-padding-xxl);
        --__card-content-maxwidth: 70%;
    }
    .doxy-card.portrait .container {
        --__card-content-maxwidth: 100%;
    }
}

@container (max-width: 768px) {
    .doxy-card .container {
        --__card-title-font: var(--doxy-text-sans-headline-m);
    }
}

@container (max-width: 512px) {
    .doxy-card .container {
        --__card-title-font: var(--doxy-text-sans-headline-xs);
        --__card-subtitle-display: none;
        --__card-padding: var(--doxy-padding-xl);
        --__card-content-maxwidth: 100%;
    }
    .doxy-card.portrait .container {
        --__card-subtitle-display: block;
    }
    .doxy-card.portrait .container .text-container {
        gap: var(--doxy-padding-md);
    }
}

.doxy-card.hero,
.doxy-card.portrait-hero {
    animation-timeline: scroll();
    animation-name: appear;
    z-index: 2;
    top: 0;
  }

/* @keyframes appear {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 -90vh;
    }
} */

.doxy-card.hero:first-of-type,
.doxy-card.portrait-hero:first-of-type {
    height: 75vh;
    margin-top: calc(-148px - calc(max(5vmin,24px)) + var(--doxy-padding-lg));
}

@media screen and (orientation: portrait) {
    .doxy-card.hero:first-of-type,
    .doxy-card.portrait-hero:first-of-type {
        height: 60vh;
    }    
}


@media screen and (max-width: 960px) {
    .doxy-card.hero:first-of-type,
    .doxy-card.portrait-hero:first-of-type {
        margin-top: calc(-92px - calc(max(5vmin,24px)) + var(--doxy-padding-lg));
    }
}

.doxy-card.hero .container,
.doxy-card.portrait-hero .container {
    margin: 0 var(--doxy-padding-lg);
}

.doxy-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.doxy-card .title,
.doxy-card .subtitle {
    margin: 0;
}

.doxy-card .title {
    display: var(--__card-title-display);
    font: var(--__card-title-font, var(--doxy-text-sans-headline-xxl));
    max-width: var(--__card-content-maxwidth);
    z-index: 2;
    letter-spacing: 1px;
    text-wrap: balance;
    text-wrap: -webkit-balance;
}

.doxy-card[data-tags~="Fixy"] {
    --__card-accent-color: var(--doxy-colors-pink);
}

.doxy-card[data-tags~="Uitgelicht"] {
    --__card-accent-color: var(--doxy-gradient);
}


.doxy-card .container .subtitle {
    display: var(--__card-subtitle-display);
    font: var(--__card-subtitle-font, var(--doxy-text-serif-headline-m));
    max-width: var(--__card-content-maxwidth);
    z-index: 2;
}

.doxy-card .container div {
    display: var(--__card-tags-display, flex);
    gap: var(--doxy-padding-sm);
    max-width: var(--__card-content-maxwidth);
    z-index: 2;
}

.doxy-card .container p {
    font: var(--doxy-text-body-m);
    margin: var(--doxy-padding-sm) 0;
    display: var(--__card-p-display, none);
}

.doxy-card .container p a {
    display: block;
    margin-top: var(--doxy-padding-md);
}

.doxy-card.portrait .container:hover {
    --__card-p-display: block;
    --__card-tags-display: none;
}

.doxy-card.portrait:hover .container {
    background: var(--__card-accent-color, var(--doxy-colors-green));
}

.doxy-card.portrait:hover .container:after {
    display: none;
}

.doxy-card.portrait:hover img {
    display: none;    
}

.doxy-card.portrait:hover .container .text-container {
    justify-content: flex-start;
}

.doxy-card .laurel {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 116px;
    height: 116px;
    border: var(--__card-padding) solid transparent;
    box-sizing: content-box;
}

.doxy-card .laurel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}