.doxy-input {
    display: flex;
    height: 48px;
    padding: var(--doxy-padding-md) var(--doxy-padding-lg);
    align-items: center;
    font-family: var(--doxy-font);
    font-weight: 300;
    font-size: 18px;
    background-color: var(--doxy-input-fill, var(--doxy-colors-white));
    border: 0;
    color: var(--doxy-input-accent, var(--doxy-colors-darkgrey));
    border-radius: var(--doxy-input-radius, var(--doxy-radius-round));
    box-shadow: var(--__doxy-button-box-shadow, 0px 0px 14px 0px rgba(0, 0, 0, 0.25));
}

.doxy-input::placeholder {
    color: currentColor;
    opacity: 0.5;
}