.doxy-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(min(4vmax, 48px));
    margin-top: -32px;
    gap: var(--doxy-padding-xxl);
    align-items: center;
    animation-timeline: scroll();
    animation-name: scrollUp;
    animation-timing-function: ease;
    animation-duration: 1ms;
}

.doxy-logo svg {
    display: block;
    flex: none;
    align-self: flex-start;
}

.doxy-logo .typeface {
    height: 100%;
    animation-timeline: scroll();
    animation-name: fadeIn;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

.doxy-logo .typeface path {
    fill: var(--doxy-logo-fill, #2C2926);
}

.doxy-logo .doxy-monogram {
    height: 200%;
    animation-timeline: scroll();
    animation-name: fadeOut;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes scrollUp {
    from {
      translate: 0;
    }
  
    10% {
        translate: 0 -240%;
    }

    100% {
        translate: 0 -240%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}