.doxy-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(min(4vmax, 48px));
    margin-top: -116px;
    gap: var(--doxy-padding-xxl);
    align-items: center;
    animation-timeline: scroll(block root);
    animation-name: scrollUp;
    animation-timing-function: ease;
    animation-duration: 1ms;
    pointer-events: all;
    margin-top: 0!important;
}

@supports (animation-timeline: scroll(block root)) {
    .doxy-logo {
        margin-top: 0!important;
    }
}

@media screen and (max-width: 1023px) {
    .doxy-logo {
        margin-top: -72px;
    }
}

.doxy-logo svg {
    display: block;
    flex: none;
    align-self: flex-start;
    pointer-events: none;
}

.doxy-logo .typeface {
    height: 100%;
    animation-timeline: scroll(block root);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 1;
    margin: auto;
}

@supports (animation-timeline: scroll(block root)) {
    .doxy-logo .typeface {
        animation-name: fadeOut;
    }
    .doxy-logo .doxy-monogram {
        animation-name: fadeIn;
    }
}

.doxy-logo .typeface path {
    fill: var(--doxy-logo-fill, #2C2926);
}

.doxy-logo .doxy-monogram {
    height: 150%;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

@supports (animation-timeline: scroll(block root)) {
    .doxy-logo .doxy-monogram {
        animation-timeline: scroll(block root);
    }  
}

/* body .doxy-logo .doxy-monogram {
    border: 1px solid blue;
} */

@supports not (animation-timeline: scroll(block root)) {

    .doxy-logo, .doxy-monogram {
        transition: all ease 200ms;
    }

    body[data-scroll-fraction="10"] .doxy-monogram {
        opacity: 1;
        pointer-events: all;
    }
    
    body[data-scroll-fraction="10"] .doxy-logo {
        translate: 0 -220%;
    }

    body[data-scroll-fraction="95"] .doxy-logo,
    body[data-scroll-fraction="100"] .doxy-logo {
            translate: 0 -500%;
    }  

}

@media screen and (max-width: 1023px) {
    .doxy-logo .doxy-monogram {
        width: 100%;
    }
}



@keyframes scrollUp {
    from {
      translate: 0;
    }
  
    10% {
        translate: 0 -200%;
    }

    95% {
        translate: 0 -200%;
    }

    100% {
        translate: 0 -500%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    10% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}