.doxy-logo {
    display: flex;
    height: 48px;
    gap: var(--doxy-padding-xxl);
    align-items: center;
}

.doxy-logo .typeface {
    max-height: 100%;
}

.doxy-logo .typeface path {
    fill: var(--doxy-logo-fill, #2C2926);
}

.doxy-logo .doxy-monogram {
    height: 92px;
}