.doxy-social-buttons {
    height: var(--doxy-padding-xxxl);
    display: flex;
    justify-content: center;
    gap: var(--doxy-padding-lg);
}

.doxy-social-buttons svg {
    width: var(--doxy-padding-xxxl);
}

.doxy-social-buttons a {
    transition: 100ms scale ease;
    transform-origin: center;
    border-radius: 50%;
}

.doxy-social-buttons a:hover,
.doxy-social-buttons a:focus-visible {
    scale: 1.1;
}

.doxy-social-buttons path {
    fill: #DEDCCA;
}