---
const { title, intro, tags=[] } = Astro.props;
import Button from '@doxyfixy/components/src/button/Button.svelte';
---

<section>
    <div>
        <h1>{title}</h1>
        <p>{intro}</p>
        <nav>
            {tags.map(tag =>
                <Button
                    client:visible
                    elevated
                    label={tag}
                    selectable
                />
            )}
        </nav>
    </div>
</section>

<style>
    section {
        width: 100%;
    }

    div {
        width: 944px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: var(--doxy-padding-outer);
        padding: var(--doxy-padding-outer);
        text-wrap: balance;
    }

    h1 {
        font: var(--doxy-text-h1);
        letter-spacing: 1.4px;
        margin: 0 auto;
        max-width: 600px;
    }

    p {
        font: var(--doxy-text-serif-h3);
        letter-spacing: 0.3px;
        margin: 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--doxy-padding-lg);
    }
</style>