---
import BaseHead from './BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import NavBar from './NavBar.astro';
import Footer from '@doxyfixy/components/src/footer/Footer.svelte';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://use.typekit.net/uuj0klm.css">
	</head>
	<body>

		<div id="container">

		<NavBar client:load/>
		
		<slot name="header"/>

		<main>
			<slot/>
		</main>


		<Footer />

		<style>

			#container {
				display: flex;
				flex-direction: column;
				gap: calc( max(5vmin, 24px) );
				margin-top: -192px;
			}

			main {
				display: grid;
				width: 100%;
				max-width: 1280px;
				grid-template-columns: repeat(auto-fit, minmax(calc(max(160px, 20%)), 1fr));
				gap: var(--doxy-padding-xl);
				padding: 0 var(--doxy-padding-xl);
				margin: 0 auto;
			}

			.doxy-header {
				position: absolute;
				z-index: 1;
			}

		</style>

		</div>
		
	</body>
</html>