---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

import Button from "@doxyfixy/components/src/button/Button.svelte";
import Logo from "@doxyfixy/components/src/logo/Logo.svelte";
import Switch from "@doxyfixy/components/src/switch/Switch.svelte";
import Menu from '@doxyfixy/components/src/menu/Menu.svelte';

---

<script>
</script>

<header class="doxy-header">
	<div class="container">
		<Logo showMonogram/>
		<nav>
			<Menu client:visible/>
			<Switch client:visible/>
		</nav>
	</div>
</header>

<style>
	.doxy-header {
		height: 148px;
		width: 100%;
		background: linear-gradient(180deg, rgba(44, 41, 38, 0.50) 0%, rgba(222, 220, 202, 0.00) 45.31%);
		background-blend-mode: multiply;
		display: flex;
		justify-content: space-between;
		align-items: center;
        position: sticky;
        top: 0;
		z-index: 1;
	}

	.container {
		width: 100%;
		max-width: 1280px;
		padding: 0 32px;
		display: flex;
		justify-content: center;
		margin: auto;
		align-items: center;
	}

	nav {
		display: flex;
		justify-content: center;
		gap: var(--doxy-padding-xxl);
	}
</style>