---
import Logo from "@doxyfixy/components/src/logo/Logo.svelte";
import Switch from "@doxyfixy/components/src/switch/Switch.svelte";
import Menu from '@doxyfixy/components/src/menu/Menu.svelte';

---

<script>
</script>

<header class="doxy-header">
	<div class="container">
		<a href="/"><Logo/></a>
		<nav>
			<Menu client:visible/>
		</nav>
	</div>
</header>

<style>
	.doxy-header {
		height: 148px;
		width: 100%;
		background: linear-gradient(to bottom, rgba(44, 41, 38, 0.50) 0%, rgba(222, 220, 202, 0.00) 45.31%);
		display: flex;
		justify-content: space-between;
		align-items: center;
        position: sticky;
        top: 0;
		z-index: 3;
		pointer-events: none;
	}

	@media screen and (max-width: 960px) {
		.doxy-header {
			height: 92px;
		}
	}

	.container {
		width: 100%;
		max-width: 1280px;
		padding: 0 32px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		align-items: center;
	}

	nav {
		display: flex;
		justify-content: center;
		gap: var(--doxy-padding-xxl);
		z-index: 2;
		position: relative;
		pointer-events: all;
	}
</style>