.doxy-page {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: calc( max(5vmin, 24px) );

}

article {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font: var(--doxy-text-body);
}

img {
    width: 100%;
}

blockquote {
    width: 900px;
    max-width: 100%;
    font: var(--doxy-text-quote);
    text-align: center;
}

blockquote:before {
    content: '‘'
}

blockquote:after {
    content: '’'
}

p {
    width: 700px;
    max-width: 100%;
}

p:first-of-type {
    font: var(--doxy-text-serif-h3);
}

strong, b {
    display: block;
    padding: 0 var(--doxy-padding-lg);
}

.doxy-page .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(max(160px, 30%)), 1fr));
    gap: var(--doxy-padding-xl);
    width: 100%;
}

.doxy-page p {
    padding: var(--doxy-padding-md) 0;
}

.doxy-page iframe {
    border: 0;
    height: auto;
    width: 900px;
    max-width: 100%;
    /* aspect-ratio: 4/3; */
}

.doxy-page .video-container {
    padding:41.89% 0 0 0;
    position:relative;
    width:100%;
}

.doxy-page ul, .doxy-page ol {
    text-align: center;
    list-style: none;
    padding: var(--doxy-padding-md) 0;
}

.doxy-page li {
    text-align: center;
}

.doxy-page li em {
    font-weight: bold;
    font-style: normal;
}

.doxy-page li em:before {
    content: ' • ';
}

.doxy-page h4 {
    font: var(--doxy-text-footer-heading);
    margin: 0;
}