.doxy-page {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: calc( max(5vmin, 24px) );

}

article {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font: var(--doxy-text-article);
}

img {
    width: 100%;
}

blockquote {
    width: 900px;
    max-width: 100%;
    font: var(--doxy-text-quote);
    text-align: center;
}

blockquote:before {
    content: '‘'
}

blockquote:after {
    content: '’'
}

p {
    width: 700px;
    max-width: 100%;
}

p:first-of-type {
    font: var(--doxy-text-h4-serif);
}

@media screen and (min-width: 680px) {
    p:first-of-type {
        font: var(--doxy-text-h3-serif);
    }        
}

strong, b {
    display: block;
    padding: 0 var(--doxy-padding-lg);
}

.doxy-page .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(max(160px, 30%)), 1fr));
    gap: var(--doxy-padding-xl);
    width: 100%;
}

.doxy-page .funky-grid {
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-section);
}

.grid-section {
    display: flex;
    gap: var(--doxy-padding-lg);
    align-items: flex-start;
}

.grid-section-2 {
}

.grid-section-2 >*:nth-child(1) {
    flex: 1;
    aspect-ratio: 16/9;
}

.grid-section-2 >*:nth-child(2) {
    flex: 2;
    aspect-ratio: 16/9;
}

.grid-section-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.doxy-page .grid > a {
    display: contents;
    text-decoration: none;
}

.doxy-page p {
    padding: var(--doxy-padding-md) 0;
}

.doxy-page iframe {
    border: 0;
    height: auto;
    width: 900px;
    max-width: 100%;
}

.doxy-page .video-container {
    padding:41.89% 0 0 0;
    position:relative;
    width:100%;
}

.doxy-page ul, .doxy-page ol {
    text-align: center;
    list-style: none;
    padding: var(--doxy-padding-md) 0;
}

.doxy-page li {
    text-align: center;
}

.doxy-page li em {
    font-weight: bold;
    font-style: normal;
}

.doxy-page li em:before {
    content: ' • ';
}

.doxy-page h4 {
    font: var(--doxy-text-footer-heading);
    margin: 0;
}

[hidden] {
    display: none!important;
}