.doxy-page {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: calc( max(5vmin, 24px) );

}

article {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font: var(--doxy-text-article);
    margin-bottom: var(--doxy-padding-lg);
    hyphens: auto;
}

img {
    width: 100%;
    object-fit: contain;
    border-radius: var(--doxy-radius-md);
    position: relative;
    z-index: 1;
    box-shadow: var(--doxy-image-shadow)
}

blockquote {
    width: 900px;
    max-width: 100%;
    font: var(--doxy-text-quote);
    text-align: center;
    position: relative;
}

@media screen and (max-width: 960px) {
    blockquote {
        font: var(--doxy-text-h4);
        font-weight: 900;
    }
}

blockquote:not(img + blockquote) {
    margin: -40vh 0 var(--doxy-padding-outer) 0;
}

blockquote:before {
    content: '‘'
}

blockquote:after {
    content: '’'
}

q {
    font: var(--doxy-text-biobody);
    font-weight: 900;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 700px;
    text-wrap: balance;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-lg);
    margin: var(--doxy-padding-xxl) 0;
}

q:before, q:after {
    display: none;
}

q small {
    font: var(--doxy-text-article);
    display: block;
}

p {
    width: 700px;
    max-width: 100%;
}

p:first-of-type {
    font: var(--doxy-text-h4-serif);
}

@media screen and (min-width: 680px) {
    p:first-of-type {
        font: var(--doxy-text-h3-serif);
    }        
}

strong, b {
    display: block;
    padding: 0 var(--doxy-padding-lg);
}

.doxy-page .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(max(160px, 30%)), 1fr));
    gap: var(--doxy-padding-xl);
    width: 100%;
}

.doxy-page .funky-grid {
    display: flex;
    flex-direction: column;
    gap: var(--doxy-padding-xxxl);
}

.grid-section {
    display: flex;
    gap: var(--doxy-padding-lg);
    align-items: flex-start;
}

.grid-section-1 >*:nth-child(1),
.grid-section-2 >*:nth-child(1) {
    flex: 1;
    aspect-ratio: 16/9;
}

.grid-section-1 >*:nth-child(2),
.grid-section-2 >*:nth-child(2) {
    flex: 2;
    aspect-ratio: 16/9;
}

.grid-section-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .grid-section-2, .grid-section-5 {
        display: block;
    }

    .grid-section > *:not(:last-child) {
        display: block;
        margin-bottom: var(--doxy-padding-lg);
    }
}

@media screen and (max-width: 1024px) {
    .grid-section-2 >*:nth-child(2) {
        flex: 1;
    }
    .grid-section-5 {
        grid-template-columns: 1fr 1fr;
    }
    
}

.doxy-page .grid > a {
    display: contents;
    text-decoration: none;
}

.doxy-page p {
    margin: var(--doxy-padding-xl) 0;
    padding: 0;
}

.doxy-page iframe {
    border: 0;
    height: auto;
    width: 900px;
    max-width: 100%;
}

.doxy-page .video-container {
    padding:41.89% 0 0 0;
    position:relative;
    width:100%;
}

.doxy-page ul, .doxy-page ol {
    text-align: center;
    list-style: none;
    padding: var(--doxy-padding-md) 0;
}

.doxy-page li {
    text-align: center;
}

.doxy-page li em {
    font-weight: bold;
    font-style: normal;
}

.doxy-page li em:before {
    content: ' • ';
}

.doxy-page h4 {
    font: var(--doxy-text-h4);
    margin: 0;
}

a.cta {
    font: var(--doxy-text-body);
    /* font-size: 30px; */
}

[hidden] {
    display: none!important;
}

.doxy-page h5 {
    font: var(--doxy-text-h4-serif);
    text-align: center; 
}

.doxy-page .nav-container {
    /* border: 1px solid red; */
    overflow: auto;
    justify-items: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 12px 24px;
    margin: 0 -24px;
    min-width: calc(100% + 48px);
    /* position: sticky; */
    top: 0px;
    z-index: 3;
    pointer-events: none;
}

.doxy-page .nav-container::-webkit-scrollbar{
display: none;
}


.doxy-page .nav-container {
}

.doxy-page nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--doxy-padding-lg);
    width: auto;
    margin: auto;
}

.doxy-page nav > * {
    pointer-events: all;
}